.hightlight-box {
    font-size:25px;
}

.tab-layout {
    width:450px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    background:white;
    padding:5px 15px;
    border:2px solid silver;
    box-shadow: 3px 3px 3px silver;   

    h1 {
        font-size:24px;
        font-weight:bold;
    }

    .vertical-scrollable {
        height:250px;
        overflow-y: auto;
    }
    .ugc-content-box {
        margin-top:30px;
        h2 {
            font-size:14px;
            font-weight:bold;
            margin:0 0 5px 0;
        }
    }

    .likes {
        margin:7px 0;
        font-size:16px;
        .upvote-count {
            color:green;
            font-weight:bold;
        }
        .like-item {
            margin-right:8px;
        }

    }
    .ugc-role,.source-name {
        color:silver;
        font-size:12px;
        text-transform: uppercase;
    }
}